@model IEnumerable<StudentManager.Data.GroupStudent>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Account</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Account</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable of Class</h3>
                        </div>
                        <!-- HTML !-->
                        <div class="d-grid gap-2 col-6 d-md-block">
                            <a class="button-68" asp-action="Create">Create Account</a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead class="table-primary">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Student)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Group)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Course)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Teacher)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LearningDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Absent)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Present)
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Student.User.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Group.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Course.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Teacher.User.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LearningDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Absent)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Present)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>